# LangChain Core
langchain
langchain-core

# Langchain Community
langchain-Community

# pyPdf for pdf loader
pypdf

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Groq API Integration
langchain-groq

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
# Streamlit for ui
streamlit

chromadb
tiktoken
faiss-cpu
wikipedia

youtube-transcript-api

duckduckgo-search 
langchain_experimental

# For firebase
google-cloud-firestore
langchain-google-firestore